<%- include('../partials/header') %>

  <body>
    <h2>All Departing Flights</h2>
    <table id="list">
      <thead>
        <tr>
          <th>Airline</th>
          <th>Airport</th>
          <th>Flight #</th>
          <th>Departs</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% flights.forEach(function(f) { %>
          <tr>
            <td><%= f.airport %></td>
            <td><%= f.airline %></td>
            <td><%= f.flightNo %></td>
            <td><%= f.departs %></td>
            <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
  </body>
</html>

<%- include('../partials/footer') %>